@{
    ViewData["Title"] = "Osobní údaje";
}


<h1>@ViewData["Title"]</h1>

Sbíráme pouze to, co je nezbytné pro registraci na výstavu. Data sdílíme pouze organizátorovi výstavy.

<h2>Témata:</h2>
<ol>
    <li>
        <a href="#section1">Jaké údaje shromažďujeme?</a>
    </li>
    <li>
        <a href="#section2">Jak shromažďujeme vaše údaje?</a>
    </li>
    <li>
        <a href="#section3">Jak budeme vaše údaje používat?</a>
    </li>
    <li>
        <a href="#section4">Právní základ pro zpracování osobních údajů</a>
    </li>
    <li>
        <a href="#section5">Jak uchováváme vaše údaje?</a>
    </li>
    <li>
        <a href="#section6">Marketing</a>
    </li>

</ol>


<h2 id="section1">1. Jaké údaje shromažďujeme?</h2>
<p>
    Shromažďujeme následující údaje:
</p>
<ul>
    <li>Osobní identifikační údaje (jméno, e-mailová adresa, telefonní číslo, adresa bydliště atd.) - vše, co zadáte při registraci vašeho účtu.</li>
    <li>Údaje poskytnuté při registraci na výstavu.</li>
</ul>


<h2 id="section2">2. Jak shromažďujeme vaše údaje?</h2>
<p>
    Data od vás shromažďujeme prostřednictvím následujících způsobů:
</p>
<ol>
    <li>Při registraci nebo při přihlášení na výstavu.</li>
    <li>Když dobrovolně vyplníte průzkum zákazníků nebo poskytnete zpětnou vazbu na našich diskusních fórech nebo prostřednictvím e-mailu.</li>
    <li>Když používáte nebo prohlížíte náš web prostřednictvím souborů cookies vašeho prohlížeče.</li>
</ol>


<h2 id="section3">3. Jak budeme vaše údaje používat?</h2>
<p>
    Vaše údaje shromažďujeme pro následující účely:
</p>
<ul>
    <li>Pro odeslání registrace na výstavu.</li>
    <li>Pro zlepšení našeho webu a uživatelského zážitku.</li>
</ul>


<h2 id="section4">4. Právní základ pro zpracování osobních údajů</h2>
<p>
    Zpracováváme vaše osobní údaje na základě jednoho nebo více následujících právních důvodů:
</p>
<ul>
    <li>Souhlas: Získáváme váš souhlas pro konkrétní zpracování údajů.</li>
    <li>Legitimní zájmy: Zpracování je nezbytné pro naše oprávněné zájmy nebo zájmy třetí strany, pokud tyto zájmy nejsou překryty vašimi právy a zájmy.</li>
</ul>


<h2 id="section5">5. Jak uchováváme vaše údaje?</h2>
<p>
    Vaše údaje bezpečně uchováváme pomocí standardních bezpečnostních opatřeních.
</p>
<p>
    Vaše osobní údaje uchováváme pouze po dobu nezbytnou k plnění účelů uvedených v této zásadě nebo na základě platných zákonů. Jakmile uplyne doba uchovávání, vaše údaje budou bezpečně smazány.
</p>


<h2 id="section6">6. Marketing</h2>
<p>
    Naše společnost by vám ráda posílala informace o dalších výstavách a aktualizaci přihlášky. Uděláme to pouze tehdy, pokud jste souhlasili s přijímáním marketingových komunikací od nás.
</p>
<p>
    Pokud již nechcete od nás dostávat marketingové komunikace, můžete se kdykoli odhlásit.
</p>


@* <h2 id="section7">7. Jaká jsou vaše práva v oblasti ochrany dat?</h2> *@
@* <p> *@
@*     [Vložte informace o právech subjektu údajů, například právo na přístup k údajům, opravu, výmaz, omezení zpracování, přenositelnost údajů, atd.] *@
@* </p> *@
@* *@
@* *@
@* <h2 id="section8">8. Co jsou soubory cookies?</h2> *@
@* <p> *@
@*     [Vysvětlete, co jsou soubory cookies a jak fungují.] *@
@* </p> *@
@* *@
@* *@
@* <h2 id="section9">9. Jak používáme soubory cookies?</h2> *@
@* <p> *@
@*     [Vysvětlete účely používání souborů cookies na vašem webu.] *@
@* </p> *@
@* *@
@* *@
@* <h2 id="section10">10. Jaké druhy souborů cookies používáme?</h2> *@
@* <p> *@
@*     [Popište různé druhy souborů cookies, které používáte, a jejich účely.] *@
@* </p> *@
@* *@
@* *@
@* <h2 id="section11">11. Jak spravovat vaše soubory cookies</h2> *@
@* <p> *@
@*     [Nabídněte informace o možnostech správy souborů cookies, včetně nastavení prohlížeče.] *@
@* </p> *@
@* *@
@* *@
@* <h2 id="section12">12. Ochrana soukromí na jiných webech</h2> *@
@* <p> *@
@*     [Pokud máte odkazy na jiné weby, které mají odlišné zásady ochrany osobních údajů, sdílejte tyto informace zde.] *@
@* </p> *@
@* *@
@* *@
@* <h2 id="section13">13. Změny v naší zásadě ochrany osobních údajů</h2> *@
@* <p> *@
@*     [Vysvětlete, jakým způsobem budou informováni uživatelé o změnách v zásadě ochrany osobních údajů.] *@
@* </p> *@
@* *@
@* *@
@* <h2 id="section14">14. Jak nás kontaktovat</h2> *@
@* <p> *@
@*     [Poskytněte kontaktní informace pro uživatele, kteří chtějí kontaktovat vaši společnost ohledně ochrany osobních údajů.] *@
@* </p> *@
@* *@
@* *@
@* <h2 id="section15">15. Jak kontaktovat příslušné úřady</h2> *@
@* <p> *@
@*     [Poskytněte informace o tom, jak kontaktovat příslušné úřady pro ochranu osobních údajů v případě stížností.] *@
@* </p> *@

<p>
    Toto je studentský projekt, ve kterém se snažm usnadnit práci spojenou s výstavou. V případě jakýhkoliv otázek nás neváhejte kontaktovat na e-mailu: registracekocek@seznam.cz
</p>


<p>
    Inspirace: https://gdpr.eu/privacy-notice/
</p>