@model LogMeIn.Models.ViewModels.ModelVm

<div class="form-bacground">
    <div id="signUpForm" method="post" class="row" enctype="multipart/form-data">
        <div class="step">

            <h1 class="text-center">Registrace</h1>
            <partial name="_PersonPartial" Model="@Model"/>


        </div>
    </div>
</div>